<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="Users new">
  <h2>Create User</h2>

  <%= form_for(:user, :url => {:action => 'create'}) do |f| %>

    <table summary="Subject form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Password</th>
        <td><%= f.text_field(:password) %></td>
      </tr>
      <tr>
        <th>Vemail</th>
        <td><%= f.text_field(:email) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= submit_tag("Create Subject") %>
    </div>

  <% end %>
</div>
