<% @page_title = "Create Quiz" %>


<div class="login" align="center">
	<p><b>Enter your questions here!<b/></p>
	<p><b>When you are done click on create quiz!<b/></p>
  <%= form_tag(:action => 'create_c') do %>
  <table width="100%">
    <div class="form-group">
      <tr>
        <td>Question:</td>
        <td><%= text_area_tag(:question,  nil, :placeholder => "Enter Question here", :class => "form-control") %></td>
      </tr>
    </div>
    <tr>
      <td>Option 1:</td>
      <td><%= text_area_tag(:choice1, nil, :placeholder => "Enter option 1", :class => "form-control") %></td>
    </tr>
    <div class="form-group">
      <tr>
        <td>Option 2:</td>
        <td><%= text_area_tag(:choice2,  nil, :placeholder => "Enter option 2", :class => "form-control") %></td>
      </tr>
    </div>
    <div class="form-group">
      <tr>
        <td>Option 3:</td>
        <td><%= text_area_tag(:choice3,  nil, :placeholder => "Enter option 3", :class => "form-control") %></td>
      </tr>
    </div>
    <div class="form-group">
      <tr>
        <td>Corect Option:</td>
        <td><%= text_field_tag(:choicec,  nil, :placeholder => "Enter 1, 2, or 3 for the correct answer", :class => "form-control") %></td>
      </tr>
    </div>
    
    <tr>
        <div class="form-groups">
          <td>
          	<b>
          <%= link_to("Create Quiz >>", {:action => 'index'}, :class => 'back-link') %>
      </b>
      		</td>
          <td colspan="1">
          <%= button_tag(type: 'submit', class: "btn btn-success btn-block btn-") do %>
           <i class="icon-ok icon-white"></i> Submit Question
          <% end %>
          </td>

        </div>
        </tr>
  </table>
  <% end %>
</div>

