<% @page_title = "Take Quiz" %>



<div class="login" align="center">
	


  <%= form_tag(:action => 'submit_a') do %>
  <table width="100%">
  	<tr>
		<td>&nbsp;</td>
		<td><%= @quiz.name %>: Quiz  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Question no: <%= session[:question_n] +1  %></td>
	</tr>
    <div class="form-group">
      <tr>
        <td>Question:</td>
        <td><%= text_area_tag(:question,  @question.question, :placeholder => "", :class => "form-control", :disabled => "disabled") %></td>
      </tr>
    </div>
    <tr>
      <td>Option 1:</td>
      <td><%= text_area_tag(:choice1,  @question.choice1, :placeholder => "", :class => "form-control", :disabled => "disabled") %></td>
    </tr>
    <div class="form-group">
      <tr>
        <td>Option 2:</td>
        <td><%= text_area_tag(:choice2,  @question.choice2, :placeholder => "", :class => "form-control", :disabled => "disabled", ) %></td>
      </tr>
    </div>
    <div class="form-group">
      <tr>
        <td>Option 3:</td>
        <td><%= text_area_tag(:choice3,  @question.choice3, :placeholder => "", :class => "form-control", :disabled => "disabled") %></td>
      </tr>
    </div>
    <div class="form-group">
      <tr>
        <td>Whats your answer:</td>
        <td><%= text_field_tag(:choice,  nil, :placeholder => "Enter 1, 2, or 3 for the correct answer", :class => "form-control") %></td>
      </tr>
    </div>
    
    <tr>
        <div class="form-groups">
          <td>
          	<b>
          &nbsp;
      </b>
      		</td>
          <td colspan="1">
          <%= button_tag(type: 'submit', class: "btn btn-success btn-block btn-") do %>
           <i class="icon-ok icon-white"></i> Submit Answer
          <% end %>
          </td>

        </div>
        </tr>
  </table>
  <% end %>
</div>

